.App {
  text-align: center;
}

.center-align {
  display: flex;
  align-items: center;
}

.mid-content {
  display: flex;
  align-items: center;
  flex-direction: column !important;
}

.repo-content {
  display: flex;
  padding: 24px;
  background: steelblue;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  color: white;
  box-shadow: inset -4px -5px 2px 1px rgb(13 13 85 / 50%);
  gap: 1rem;
}

.initial-content {
  display: flex;
  align-items: baseline;
  flex-direction: column !important;
  gap: 1rem;
}

.star-btn {
  color: white;
  background: repeating-radial-gradient(black, transparent 100px);
  text-transform: capitalize !important;
}

.no-repositories {
  width: 100%;
  align-items: center;
}

.chip {
  background: repeating-radial-gradient(black, transparent 100px);
  color: white !important;
}

.star-icon {
  color: yellow;
}
